# NurseXAI — Python Dependencies
# Testado em: Python 3.10 | Google Colab T4 | CUDA 11.x
# Instalar: pip install -r requirements.txt

torch==2.1.0
torchvision==0.16.0
transformers==4.40.0
datasets==2.19.0
accelerate==0.29.0
tokenizers==0.19.1
scikit-learn==1.4.2
iterative-stratification==0.1.7
lime==0.2.0.1
numpy==1.26.4
pandas==2.2.2
matplotlib==3.8.4
seaborn==0.13.2
gradio==4.29.0
tqdm==4.66.2
